body {
    background-image: linear-gradient(rgb(255, 255, 255), #999999);
    background-size: cover;
    background-position: center;
    color: #555;
    height: 98vh;
    width: 98vw;
    font-family: 'Gugi', cursive;
}


// import base - contains global styles, such as resets, typography, colors

// import components- contains each self-contained component in its own .scss partial
@import 'components/searchbar';
@import 'components/movieTile';

// import pages contains page-specific styling
@import 'pages/home';




