.searchbar-root {
    margin: 10px 0px;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #a4a4a4;
    border-radius: 3px;
    padding: 7px 8px 7px 10px;
    width: max-content;

    input {
        background-color: #8b8b8b;
        border-radius: 2px 0px 0px 2px;
        border: none;
        padding: 5px;
        font-size: 0.5em;
        width: 200px;
        height: 22px;

        &:focus {
            outline: none;
        }
    }

    .icon {
        border-radius: 2px;
        background-color: #5c5c5c;
        padding: 6px 30px;
        display: flex;
        align-items: flex-start;
        transform: translateX(-2px);
        cursor: pointer;

        svg {
            fill: none;
            width: 20px;
            height: 20px;
        }
    }
}